<form [formGroup]="authForm" autocomplete="off" novalidate (ngSubmit)="submitForm(authForm.value)">
<ion-grid>
<ion-row>
<ion-col size-md="8" offsetMd="2" size-sm="6" offsetSm="3">
<ion-input class="custom-input ion-padding-horizontal"
    label="Email"
    labelPlacement="floating"
    placeholder="JoeBloggs@example.com"
    formControlName="email"
    type="email"
    errorText="{{emailError}}"
    >

    </ion-input>
   
  <ion-input class="custom-input ion-padding-horizontal"
    label="Password"
    labelPlacement="floating"
    placeholder="Enter Password..."
    formControlName="password"
    errorText="{{passwordError}}"

    type="password"
  >
  </ion-input>

  <ion-input *ngIf="!isLoginMode"
  class="custom-input ion-padding-horizontal"
    label="Confirm Password"
    labelPlacement="floating"
    placeholder="Enter Password Again..."
    formControlName="confirmPassword"
    errorText="confirmPasswordError"
  >
  </ion-input>

  <ion-card-header>Choose A Role</ion-card-header>
  <ion-radio-group value="Employee">
    <ion-radio value="Employee">Employee</ion-radio>
  </ion-radio-group>
</ion-col>
</ion-row>
</ion-grid>  
</form>